@import url('https://fonts.googleapis.com/css?family=Raleway:400,900&display=swap');
*,*:before, *:after { margin:0; padding:0; box-sizing:border-box; 
	transition: all 250ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
    transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
body {
    background-color:#0b0c10;
    color:#c5c6c7;
    font-family: 'Raleway', sans-serif;
    font-size:18px;
    line-height:1.3;
}
h1,h2,h3,h4 {
	font-weight:900;
}
h1 {
	color: #66fcf1;
	font-size: 6em;
	line-height: 1;
	text-transform: capitalize;
}
input, label, button {
    color: inherit;
    display:block;
    font: inherit;
}
input {
    background: transparent;
    border: none;
    padding: 1.25em 0 .75em;
    width:100%;
}
label{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: -1;
}
button {
    background: #66fcf1;
    border: none;
    color: #0b0c10;
    cursor:pointer;
    font-size: 1.25em;
    padding: 1em 2em;
}
button:focus, input:focus {
    outline:none;
}
[type=date] {
	color: #c5c6c700;
}
[type=date]:focus, [type=date]:valid {
	color: #c5c6c7;
}
#newTripBtn {
    background: none;
    border: .25em solid;
    color: #66fcf1;
    margin: 4em auto 0;
}
#welcomePage {
	max-width: 41em;
	margin: 6em auto 0;
}
#upcomingTripsDisplay {
    position: absolute;
    bottom: 2em;
    left: 2em;
    right: 2em;
}
#upcomingTripsDisplay p {
	font-size: 1.5em;
	background: #1f2833;
	cursor: pointer;
	margin-top: .5em;
	padding: .5em;
}
.newTripModal #welcomePage {
	opacity: .3;
}
#tripInput {
    display:none;
    background: #1f2833;
    border: 2px solid;
    padding: 2em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index:2;
    width: 45%;
}
#tripInput > div {
    position:relative;
    overflow: hidden;
    margin-bottom: 2em;
}
.newTripModal #tripInput {
	display:block;
}
.graphic {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    stroke: #c5c6c7;
    fill: none;
    pointer-events: none;
    transform: translate3d(0, 0, 0);
    transition: transform 0.75s, stroke 0.75s;
    -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}
input:focus ~ .graphic,
input:valid ~ .graphic {
    stroke:#66fcf1;
    -webkit-transform: translate3d(-66.6%, 0, 0);
    transform: translate3d(-66.6%, 0, 0)
}
input:focus ~ label,
input:valid ~ label {
	color: #66fcf1;
	transform: translateY(0);
	top: 0;
	font-size: .75em;
}
.closeBtn {
	background: #66fcf1;
	border-radius:50%;
	cursor:pointer;
	position:absolute;
	top:-1.5em;
	right:-1.5em;
	height: 3em;
	width: 3em;
}
.closeBtn span {
	color: #45a29e;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 1.5em;
	font-weight: 900;
	line-height: 0;
}
.clearfix:after {
    content:'';
    clear:both;
    display:block;
    height:0;
}
.colors {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.colors span {
    height:2em;
    float:left;
    width:20%;
}
.colors span:nth-of-type(1) {
    background:#0b0c10;
}
.colors span:nth-of-type(2) {
    background:#1f2833;
}
.colors span:nth-of-type(3) {
    background:#c5c6c7;
}
.colors span:nth-of-type(4) {
    background:#66fcf1;
}
.colors span:nth-of-type(5) {
    background:#45a29e;
}
.lvl1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.lvl2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.lvl3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.lvl4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.lvl5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
